In [9]:
import boto3
from boto.s3.connection import S3Connection
import os
import json
import boto.s3
import sys
import datetime
from boto.s3.key import Key
from pprint import pprint
import pandas as pd
import urllib
import csv
import io
import requests
import time
import json
import datetime
from pprint import pprint
import scipy
import numpy as np

In [10]:
rawdataspecificrows= pd.read_csv("properties_2016.csv")
        
print(rawdataspecificrows.head(5))

C:\Users\sneha\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   parcelid  airconditioningtypeid  architecturalstyletypeid  basementsqft  \
0  10754147                    NaN                       NaN           NaN
1  10759547                    NaN                       NaN           NaN
2  10843547                    NaN                       NaN           NaN
3  10859147                    NaN                       NaN           NaN
4  10879947                    NaN                       NaN           NaN

   bathroomcnt  bedroomcnt  buildingclasstypeid  buildingqualitytypeid  \
0          0.0         0.0                  NaN                    NaN
1          0.0         0.0                  NaN                    NaN
2          0.0         0.0                  NaN                    NaN
3          0.0         0.0                  3.0                    7.0
4          0.0         0.0                  4.0                    NaN

   calculatedbathnbr  decktypeid         ...           numberofstories  \
0                NaN         NaN         ...                       NaN
1                NaN         NaN         ...                       NaN
2                NaN         NaN         ...                       NaN
3                NaN         NaN         ...                       1.0
4                NaN         NaN         ...                       NaN

   fireplaceflag  structuretaxvaluedollarcnt  taxvaluedollarcnt  \
0            NaN                         NaN                9.0
1            NaN                         NaN            27516.0
2            NaN                    650756.0          1413387.0
3            NaN                    571346.0          1156834.0
4            NaN                    193796.0           433491.0

   assessmentyear  landtaxvaluedollarcnt  taxamount  taxdelinquencyflag  \
0          2015.0                    9.0        NaN                 NaN
1          2015.0                27516.0        NaN                 NaN
2          2015.0               762631.0   20800.37                 NaN
3          2015.0               585488.0   14557.57                 NaN
4          2015.0               239695.0    5725.17                 NaN

   taxdelinquencyyear  censustractandblock
0                 NaN                  NaN
1                 NaN                  NaN
2                 NaN                  NaN
3                 NaN                  NaN
4                 NaN                  NaN

[5 rows x 58 columns]

# Merging columns

In [11]:
train_df = pd.read_csv("train_2016_v2.csv", parse_dates=["transactiondate"])
train_df.shape     

# merge train data with properties CSV
train_df =pd.merge(train_df, rawdataspecificrows, on ='parcelid', how = 'outer')
train_df.shape


# train_df.to_csv('mergeddata.csv', index = False)

print ("successfully saved as a CSV file")

successfully saved as a CSV file

In [1]:
rawdata=train_df[["parcelid","airconditioningtypeid","architecturalstyletypeid","basementsqft",
                 "bedroomcnt","buildingclasstypeid","decktypeid",
                 "finishedsquarefeet6", "typeconstructiontypeid", "finishedsquarefeet12","finishedsquarefeet13","finishedsquarefeet15",
                 "finishedsquarefeet50", "finishedfloor1squarefeet","calculatedfinishedsquarefeet",
                 "fips","fireplacecnt","fullbathcnt","garagecarcnt","garagetotalsqft","hashottuborspa",
                 "heatingorsystemtypeid","latitude","longitude","lotsizesquarefeet","poolcnt", "poolsizesum",
                 "propertycountylandusecode","propertylandusetypeid", "unitcnt",
                 "propertyzoningdesc","rawcensustractandblock","regionidcity","regionidcounty",
                 "regionidzip","roomcnt","threequarterbathnbr",
                 "yardbuildingsqft17","yardbuildingsqft26","yearbuilt",
                 "numberofstories","structuretaxvaluedollarcnt",
                 "assessmentyear","landtaxvaluedollarcnt","taxamount","taxdelinquencyyear", "transactiondate","logerror"]]

rawdata.head(5)

NameError: name 'train_df' is not defined

In [13]:
print(rawdata[["finishedsquarefeet6", "finishedsquarefeet12","finishedsquarefeet13","finishedsquarefeet15",
                 "finishedsquarefeet50", "finishedfloor1squarefeet","calculatedfinishedsquarefeet"]])

count = rawdata[["finishedsquarefeet6", "finishedsquarefeet12","finishedsquarefeet13","finishedsquarefeet15",
                 "finishedsquarefeet50", "finishedfloor1squarefeet","calculatedfinishedsquarefeet"]].count(axis=0)
print ("Count:",count)


# rawdata.finishedsquarefeet50.fillna(rawdata.finishedfloor1squarefeet, inplace=True)
# del df['finishedfloor1squarefeet']

# rawdata[["finishedsquarefeet6", "finishedsquarefeet12","finishedsquarefeet13","finishedsquarefeet15",
#                  "finishedsquarefeet50", "finishedfloor1squarefeet","calculatedfinishedsquarefeet"]]

         finishedsquarefeet6  finishedsquarefeet12  finishedsquarefeet13  \
0                        NaN                1684.0                   NaN
1                        NaN                2263.0                   NaN
2                        NaN                2217.0                   NaN
3                        NaN                 839.0                   NaN
4                        NaN                2283.0                   NaN
5                        NaN                3067.0                   NaN
6                        NaN                1297.0                   NaN
7                        NaN                1763.0                   NaN
8                        NaN                 796.0                   NaN
9                        NaN                1260.0                   NaN
10                       NaN                1417.0                   NaN
11                       NaN                3080.0                   NaN
12                       NaN                1484.0                   NaN
13                       NaN                1249.0                   NaN
14                       NaN                1367.0                   NaN
15                       NaN                1302.0                   NaN
16                       NaN                1558.0                   NaN
17                       NaN                 597.0                   NaN
18                       NaN                1321.0                   NaN
19                       NaN                1727.0                   NaN
20                       NaN                 840.0                   NaN
21                       NaN                1476.0                   NaN
22                       NaN                1430.0                   NaN
23                       NaN                3749.0                   NaN
24                       NaN                1213.0                   NaN
25                       NaN                1875.0                   NaN
26                       NaN                1302.0                   NaN
27                       NaN                1858.0                   NaN
28                       NaN                1045.0                   NaN
29                       NaN                1329.0                   NaN
...                      ...                   ...                   ...
2985312                  NaN                   NaN                   NaN
2985313                  NaN                   NaN                   NaN
2985314                  NaN                   NaN                   NaN
2985315                  NaN                   NaN                   NaN
2985316                  NaN                   NaN                   NaN
2985317                  NaN                   NaN                   NaN
2985318                  NaN                   NaN                   NaN
2985319                  NaN                   NaN                   NaN
2985320                  NaN                   NaN                   NaN
2985321                  NaN                   NaN                   NaN
2985322                  NaN                   NaN                   NaN
2985323                  NaN                   NaN                   NaN
2985324                  NaN                   NaN                   NaN
2985325                  NaN                   NaN                   NaN
2985326                  NaN                   NaN                   NaN
2985327                  NaN                   NaN                   NaN
2985328                  NaN                   NaN                   NaN
2985329                  NaN                   NaN                   NaN
2985330                  NaN                   NaN                   NaN
2985331                  NaN                   NaN                   NaN
2985332                  NaN                   NaN                   NaN
2985333                  NaN                   NaN                   NaN
2985334                  NaN                   NaN                   NaN
2985335                  NaN                   NaN                   NaN
2985336                  NaN                   NaN                   NaN
2985337                  NaN                   NaN                   NaN
2985338                  NaN                   NaN                   NaN
2985339                  NaN                   NaN                   NaN
2985340                  NaN                   NaN                   NaN
2985341                  NaN                   NaN                   NaN

         finishedsquarefeet15  finishedsquarefeet50  finishedfloor1squarefeet  \
0                         NaN                   NaN                       NaN
1                         NaN                   NaN                       NaN
2                         NaN                   NaN                       NaN
3                         NaN                   NaN                       NaN
4                         NaN                   NaN                       NaN
5                         NaN                   NaN                       NaN
6                         NaN                   NaN                       NaN
7                         NaN                 853.0                     853.0
8                         NaN                   NaN                       NaN
9                         NaN                   NaN                       NaN
10                        NaN                   NaN                       NaN
11                        NaN                   NaN                       NaN
12                        NaN                   NaN                       NaN
13                        NaN                   NaN                       NaN
14                        NaN                   NaN                       NaN
15                        NaN                   NaN                       NaN
16                        NaN                 981.0                     981.0
17                        NaN                   NaN                       NaN
18                        NaN                   NaN                       NaN
19                        NaN                   NaN                       NaN
20                        NaN                   NaN                       NaN
21                        NaN                   NaN                       NaN
22                        NaN                   NaN                       NaN
23                        NaN                   NaN                       NaN
24                        NaN                   NaN                       NaN
25                        NaN                   NaN                       NaN
26                        NaN                   NaN                       NaN
27                        NaN                   NaN                       NaN
28                        NaN                   NaN                       NaN
29                        NaN                   NaN                       NaN
...                       ...                   ...                       ...
2985312                   NaN                   NaN                       NaN
2985313                   NaN                   NaN                       NaN
2985314                   NaN                   NaN                       NaN
2985315                   NaN                   NaN                       NaN
2985316                   NaN                   NaN                       NaN
2985317                   NaN                   NaN                       NaN
2985318                   NaN                   NaN                       NaN
2985319                   NaN                   NaN                       NaN
2985320                   NaN                   NaN                       NaN
2985321                   NaN                   NaN                       NaN
2985322                   NaN                   NaN                       NaN
2985323                   NaN                   NaN                       NaN
2985324                   NaN                   NaN                       NaN
2985325                   NaN                   NaN                       NaN
2985326                   NaN                   NaN                       NaN
2985327                   NaN                   NaN                       NaN
2985328                   NaN                   NaN                       NaN
2985329                   NaN                   NaN                       NaN
2985330                   NaN                   NaN                       NaN
2985331                   NaN                   NaN                       NaN
2985332                   NaN                   NaN                       NaN
2985333                   NaN                   NaN                       NaN
2985334                   NaN                   NaN                       NaN
2985335                   NaN                   NaN                       NaN
2985336                   NaN                   NaN                       NaN
2985337                   NaN                   NaN                       NaN
2985338                   NaN                   NaN                       NaN
2985339                   NaN                   NaN                       NaN
2985340                   NaN                   NaN                       NaN
2985341                   NaN                   NaN                       NaN

         calculatedfinishedsquarefeet
0                              1684.0
1                              2263.0
2                              2217.0
3                               839.0
4                              2283.0
5                              3067.0
6                              1297.0
7                              1763.0
8                               796.0
9                              1260.0
10                             1417.0
11                             3080.0
12                             1484.0
13                             1249.0
14                             1367.0
15                             1302.0
16                             1558.0
17                              597.0
18                             1321.0
19                             1727.0
20                              840.0
21                             1476.0
22                             1430.0
23                             3749.0
24                             1213.0
25                             1875.0
26                             1302.0
27                             1858.0
28                             1045.0
29                             1329.0
...                               ...
2985312                           NaN
2985313                           NaN
2985314                           NaN
2985315                           NaN
2985316                           NaN
2985317                           NaN
2985318                           NaN
2985319                           NaN
2985320                           NaN
2985321                           NaN
2985322                           NaN
2985323                           NaN
2985324                           NaN
2985325                           NaN
2985326                           NaN
2985327                           NaN
2985328                           NaN
2985329                           NaN
2985330                           NaN
2985331                           NaN
2985332                           NaN
2985333                           NaN
2985334                           NaN
2985335                           NaN
2985336                           NaN
2985337                           NaN
2985338                           NaN
2985339                           NaN
2985340                           NaN
2985341                           NaN

[2985342 rows x 7 columns]
Count: finishedsquarefeet6               22003
finishedsquarefeet12            2709295
finishedsquarefeet13               7672
finishedsquarefeet15             190807
finishedsquarefeet50             202723
finishedfloor1squarefeet         202723
calculatedfinishedsquarefeet    2929774
dtype: int64

In [14]:
rawdata.finishedsquarefeet50.fillna(rawdata.finishedfloor1squarefeet, inplace=True)


rawdata[["finishedsquarefeet6", "finishedsquarefeet12","finishedsquarefeet13","finishedsquarefeet15",
                 "finishedsquarefeet50", "finishedfloor1squarefeet","calculatedfinishedsquarefeet"]]

count = rawdata[["finishedsquarefeet6", "finishedsquarefeet12","finishedsquarefeet13","finishedsquarefeet15",
                 "finishedsquarefeet50", "finishedfloor1squarefeet","calculatedfinishedsquarefeet"]].count(axis=0)
print ("Count after merging finishedsquarefeet50 and finishedfloor1squarefeet :",count)
# print ("The number of values in the column are : ",)

Count after merging finishedsquarefeet50 and finishedfloor1squarefeet : finishedsquarefeet6               22003
finishedsquarefeet12            2709295
finishedsquarefeet13               7672
finishedsquarefeet15             190807
finishedsquarefeet50             202723
finishedfloor1squarefeet         202723
calculatedfinishedsquarefeet    2929774
dtype: int64

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [15]:
rawdata.calculatedfinishedsquarefeet.fillna(rawdata.finishedsquarefeet12, inplace=True)
rawdata.calculatedfinishedsquarefeet.fillna(rawdata.finishedsquarefeet13, inplace=True)
rawdata.calculatedfinishedsquarefeet.fillna(rawdata.finishedsquarefeet15, inplace=True)
rawdata.calculatedfinishedsquarefeet.fillna(rawdata.finishedsquarefeet6, inplace=True)


rawdata[["finishedsquarefeet6", "finishedsquarefeet12","finishedsquarefeet13","finishedsquarefeet15",
                 "finishedsquarefeet50", "finishedfloor1squarefeet","calculatedfinishedsquarefeet"]]

count = rawdata[["finishedsquarefeet6", "finishedsquarefeet12","finishedsquarefeet13","finishedsquarefeet15",
                 "finishedsquarefeet50", "finishedfloor1squarefeet","calculatedfinishedsquarefeet"]].count(axis=0)
print ("Count after merging finishedsquarefeet50 and finishedfloor1squarefeet :",count)

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

Count after merging finishedsquarefeet50 and finishedfloor1squarefeet : finishedsquarefeet6               22003
finishedsquarefeet12            2709295
finishedsquarefeet13               7672
finishedsquarefeet15             190807
finishedsquarefeet50             202723
finishedfloor1squarefeet         202723
calculatedfinishedsquarefeet    2929774
dtype: int64

In [16]:
# replacing airconditioningtypeid to 5 default type for none
rawdata.airconditioningtypeid.fillna(5, inplace=True)
rawdata.airconditioningtypeid=rawdata.airconditioningtypeid.astype(int)
rawdata.head(5)

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bedroomcnt,buildingclasstypeid,decktypeid,finishedsquarefeet6,typeconstructiontypeid,finishedsquarefeet12,...,yardbuildingsqft26,yearbuilt,numberofstories,structuretaxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,transactiondate,logerror
0,11016594,1,NaN,NaN,3.0,NaN,NaN,NaN,NaN,1684.0,...,NaN,1959.0,NaN,122754.0,2015.0,237416.0,6735.88,NaN,2016-01-01,0.0276
1,14366692,5,NaN,NaN,4.0,NaN,NaN,NaN,NaN,2263.0,...,NaN,2014.0,NaN,346458.0,2015.0,239071.0,10153.02,NaN,2016-01-01,-0.1684
2,12098116,1,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2217.0,...,NaN,1940.0,NaN,61994.0,2015.0,57912.0,11484.48,NaN,2016-01-01,-0.0040
3,12643413,1,NaN,NaN,2.0,NaN,NaN,NaN,NaN,839.0,...,NaN,1987.0,NaN,171518.0,2015.0,73362.0,3048.74,NaN,2016-01-02,0.0218
4,14432541,5,NaN,NaN,4.0,NaN,NaN,NaN,NaN,2283.0,...,NaN,1981.0,2.0,169574.0,2015.0,264977.0,5488.96,NaN,2016-01-02,-0.0050

In [17]:
# replacing architecturalstyletypeid to 19 default type for other
rawdata.architecturalstyletypeid.fillna(19, inplace=True)
rawdata.architecturalstyletypeid=rawdata.architecturalstyletypeid.astype(int)
rawdata.head(5)

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bedroomcnt,buildingclasstypeid,decktypeid,finishedsquarefeet6,typeconstructiontypeid,finishedsquarefeet12,...,yardbuildingsqft26,yearbuilt,numberofstories,structuretaxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,transactiondate,logerror
0,11016594,1,19,NaN,3.0,NaN,NaN,NaN,NaN,1684.0,...,NaN,1959.0,NaN,122754.0,2015.0,237416.0,6735.88,NaN,2016-01-01,0.0276
1,14366692,5,19,NaN,4.0,NaN,NaN,NaN,NaN,2263.0,...,NaN,2014.0,NaN,346458.0,2015.0,239071.0,10153.02,NaN,2016-01-01,-0.1684
2,12098116,1,19,NaN,2.0,NaN,NaN,NaN,NaN,2217.0,...,NaN,1940.0,NaN,61994.0,2015.0,57912.0,11484.48,NaN,2016-01-01,-0.0040
3,12643413,1,19,NaN,2.0,NaN,NaN,NaN,NaN,839.0,...,NaN,1987.0,NaN,171518.0,2015.0,73362.0,3048.74,NaN,2016-01-02,0.0218
4,14432541,5,19,NaN,4.0,NaN,NaN,NaN,NaN,2283.0,...,NaN,1981.0,2.0,169574.0,2015.0,264977.0,5488.96,NaN,2016-01-02,-0.0050

In [18]:
# replacing basementsqft to 0 default square feet 
rawdata.basementsqft.fillna(0, inplace=True)
rawdata.basementsqft=rawdata.basementsqft.astype(int)
rawdata.head(5)

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bedroomcnt,buildingclasstypeid,decktypeid,finishedsquarefeet6,typeconstructiontypeid,finishedsquarefeet12,...,yardbuildingsqft26,yearbuilt,numberofstories,structuretaxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,transactiondate,logerror
0,11016594,1,19,0,3.0,NaN,NaN,NaN,NaN,1684.0,...,NaN,1959.0,NaN,122754.0,2015.0,237416.0,6735.88,NaN,2016-01-01,0.0276
1,14366692,5,19,0,4.0,NaN,NaN,NaN,NaN,2263.0,...,NaN,2014.0,NaN,346458.0,2015.0,239071.0,10153.02,NaN,2016-01-01,-0.1684
2,12098116,1,19,0,2.0,NaN,NaN,NaN,NaN,2217.0,...,NaN,1940.0,NaN,61994.0,2015.0,57912.0,11484.48,NaN,2016-01-01,-0.0040
3,12643413,1,19,0,2.0,NaN,NaN,NaN,NaN,839.0,...,NaN,1987.0,NaN,171518.0,2015.0,73362.0,3048.74,NaN,2016-01-02,0.0218
4,14432541,5,19,0,4.0,NaN,NaN,NaN,NaN,2283.0,...,NaN,1981.0,2.0,169574.0,2015.0,264977.0,5488.96,NaN,2016-01-02,-0.0050

In [19]:
# replacing basementsqft to 0 default square feet 
rawdata.bedroomcnt.fillna(0, inplace=True)
rawdata.bedroomcnt=rawdata.bedroomcnt.astype(int)
rawdata.bedroomcnt.head(5)

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

0    3
1    4
2    2
3    2
4    4
Name: bedroomcnt, dtype: int32

In [20]:
# replacing buildingclasstypeid to 5 default other  
rawdata.buildingclasstypeid.fillna(5, inplace=True)
rawdata.buildingclasstypeid=rawdata.buildingclasstypeid.astype(int)
rawdata.buildingclasstypeid.head(5)

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

0    5
1    5
2    5
3    5
4    5
Name: buildingclasstypeid, dtype: int32

In [21]:
#listing unique values in col
rawdata.decktypeid.unique()

array([ nan,  66.])

In [22]:
# rawdata[['decktypeid']].notnull()

In [23]:
rawdata.groupby('decktypeid')['parcelid'].count()

decktypeid
66.0    17096
Name: parcelid, dtype: int64

In [24]:
# rawdata['decktypeid'].replace(66, 'True')
# rawdata.decktypeid.fillna('False', inplace=True)
# rawdata.decktypeid.head(5)

rawdata['decktypeid']=rawdata['decktypeid'].notnull()

rawdata['decktypeid'].head(5)

C:\Users\sneha\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0    False
1    False
2    False
3    False
4    False
Name: decktypeid, dtype: bool

In [25]:
rawdata.groupby('decktypeid')['parcelid'].count()

decktypeid
False    2968246
True       17096
Name: parcelid, dtype: int64

In [26]:
# check which has the higher value
print ("finishedsquarefeet50 sum = ",rawdata["finishedsquarefeet50"].sum())

print ("finishedfloor1squarefeet sum = ",rawdata["finishedfloor1squarefeet"].sum())

finishedsquarefeet50 sum =  281572505.0
finishedfloor1squarefeet sum =  279887079.0

In [27]:
rawdata.shape

(2985342, 48)

In [28]:
# dropping column finishedfloor1squarefeet 

del rawdata['finishedfloor1squarefeet']

rawdata.shape

(2985342, 47)

In [29]:
rawdata.finishedsquarefeet50.fillna(0, inplace=True)
rawdata.finishedsquarefeet50=rawdata.finishedsquarefeet50.astype(int)
rawdata["finishedsquarefeet50"].head(5)
rawdata.groupby('finishedsquarefeet50')['parcelid'].count()




# print ("calculatedfinishedsquarefeet sum = ",rawdata["calculatedfinishedsquarefeet"].sum())

# print ("finishedsquarefeet12 sum = ",rawdata["finishedsquarefeet12"].sum())

# print ("finishedsquarefeet13 sum = ",rawdata["finishedsquarefeet13"].sum())

# print ("finishedsquarefeet15 sum = ",rawdata["finishedsquarefeet15"].sum())

# print ("finishedsquarefeet6 sum = ",rawdata["finishedsquarefeet6"].sum())

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

finishedsquarefeet50
0        2782619
3              1
41             1
44            10
45             1
47            38
49            38
55             2
56             1
58            13
61            24
63            32
64            69
66            17
69            35
75             1
79            42
87             4
88             3
96            37
97             2
99            19
100            3
101           21
102            1
105           51
106            7
107            9
108            1
109           35
          ...
9702           1
9788           1
9804           1
9895           1
10018          1
10110          1
10124          1
10206          1
10245          1
10297          1
10427          1
10441          1
10525          1
10891          1
11012          1
11129          1
11335          1
11794          1
11831          1
11874          1
12281          1
12451          1
13628          1
14980          1
15998          1
16570          1
17748          1
20618          1
25686          1
31303          1
Name: parcelid, dtype: int64

In [30]:
rawdata.calculatedfinishedsquarefeet.fillna(0, inplace=True)
rawdata.calculatedfinishedsquarefeet=rawdata.calculatedfinishedsquarefeet.astype(int)
rawdata["calculatedfinishedsquarefeet"].head(5)
rawdata.groupby('calculatedfinishedsquarefeet')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

calculatedfinishedsquarefeet
0         55568
1             8
2             5
3             9
4             1
6             1
7             2
10            2
12            1
20           29
24            1
27            1
29            1
30            3
31            1
32            1
40           13
43            1
48            3
49            1
54            1
55            1
56            2
60           27
63            1
64            1
65            1
66            1
70            1
72            3
          ...
201150        1
211572        1
212064        1
214289        1
220753        1
220918        1
221276        1
224569        1
229595        1
234330        1
234413        1
240695        1
250575        1
268779        1
272347        1
272910        1
273316        1
282763        1
290345        1
318434        1
319611        1
331185        1
342675        1
474155        1
520825        1
522511        1
531118        1
617114        1
820242        1
952576        1
Name: parcelid, dtype: int64

In [31]:
rawdata.groupby('fips')['parcelid'].count()

fips
6037.0    2009443
6059.0     741603
6111.0     222859
Name: parcelid, dtype: int64

In [32]:
rawdata.fips.fillna(0, inplace=True)
rawdata.fips=rawdata.fips.astype(int)
rawdata["fips"].head(5)
# print (rawdata.groupby('fips')['parcelid'].count())

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

0    6037
1    6059
2    6037
3    6037
4    6059
Name: fips, dtype: int32

In [33]:
rawdata.groupby('fips')['parcelid'].count()

fips
0         11437
6037    2009443
6059     741603
6111     222859
Name: parcelid, dtype: int64

In [34]:
rawdata.fireplacecnt.fillna(0, inplace=True)
rawdata.fireplacecnt=rawdata.fireplacecnt.astype(int)
rawdata["fireplacecnt"].head(5)
rawdata.groupby('fireplacecnt')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

fireplacecnt
0    2672695
1     269651
2      34409
3       7696
4        710
5        126
6         32
7         15
8          2
9          6
Name: parcelid, dtype: int64

In [35]:

rawdata.fullbathcnt.fillna(0, inplace=True)
rawdata.fullbathcnt=rawdata.fullbathcnt.astype(int)
rawdata["fullbathcnt"].head(5)
rawdata.groupby('fullbathcnt')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

fullbathcnt
0      128918
1      544951
2     1425717
3      660167
4      151012
5       43921
6       17199
7        6409
8        4557
9        1339
10        498
11        204
12        263
13         53
14         45
15         23
16         30
17          7
18         15
19          4
20         10
Name: parcelid, dtype: int64

In [36]:

rawdata.threequarterbathnbr.fillna(0, inplace=True)
rawdata.threequarterbathnbr=rawdata.threequarterbathnbr.astype(int)
rawdata["threequarterbathnbr"].head(5)
rawdata.groupby('threequarterbathnbr')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

threequarterbathnbr
0    2673698
1     308972
2       2338
3        261
4         46
5         16
6          9
7          2
Name: parcelid, dtype: int64

In [37]:

rawdata.garagecarcnt.fillna(0, inplace=True)
rawdata.garagecarcnt=rawdata.garagecarcnt.astype(int)
rawdata["garagecarcnt"].head(5)
rawdata.groupby('garagecarcnt')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

garagecarcnt
0     2116041
1      177587
2      660492
3       19635
4        8495
5        1705
6         575
7         266
8         181
9         127
10         78
11         62
12         41
13         16
14         14
15          9
16          3
17          4
18          1
19          3
20          2
21          2
24          2
25          1
Name: parcelid, dtype: int64

In [38]:

rawdata.garagetotalsqft.fillna(0, inplace=True)
rawdata["garagetotalsqft"].head(5)

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

0      0.0
1    468.0
2      0.0
3      0.0
4    598.0
Name: garagetotalsqft, dtype: float64

In [39]:

rawdata.hashottuborspa.fillna("False", inplace=True)
rawdata["hashottuborspa"].head(5)
rawdata.groupby('hashottuborspa')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

hashottuborspa
True       69016
False    2916326
Name: parcelid, dtype: int64

In [40]:

rawdata.heatingorsystemtypeid.fillna(13, inplace=True)
rawdata.heatingorsystemtypeid=rawdata.heatingorsystemtypeid.astype(int)
rawdata["heatingorsystemtypeid"].head(5)
rawdata.groupby('heatingorsystemtypeid')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

heatingorsystemtypeid
1         262
2     1156876
6       27482
7      595478
10         39
11         16
12         25
13    1180208
14         41
18        586
19          1
20       3216
21          3
24      21109
Name: parcelid, dtype: int64

In [41]:


rawdata['poolcnt']=rawdata['poolcnt'].notnull()

rawdata['poolcnt'].head(5)

rawdata.groupby('poolcnt')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

poolcnt
False    2467783
True      517559
Name: parcelid, dtype: int64

In [42]:

rawdata.propertylandusetypeid.fillna(291, inplace=True)
rawdata.propertylandusetypeid=rawdata.propertylandusetypeid.astype(int)
rawdata["propertylandusetypeid"].head(5)
rawdata.groupby('propertylandusetypeid')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

propertylandusetypeid
31        9462
47        4314
246     114894
247      40024
248      40328
260       2754
261    2148447
263      58439
264        204
265       9422
266     481093
267       1817
269      61470
270         36
275       1201
291      11437
Name: parcelid, dtype: int64

In [43]:
rawdata.regionidcounty.fillna(0, inplace=True)
rawdata.regionidcounty=rawdata.regionidcounty.astype(int)
rawdata["regionidcounty"].head(5)
rawdata.groupby('regionidcounty')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

regionidcounty
0         11437
1286     741603
2061     222859
3101    2009443
Name: parcelid, dtype: int64

In [44]:
rawdata.regionidcity.fillna(0, inplace=True)
rawdata.regionidcity=rawdata.regionidcity.astype(int)
rawdata["regionidcity"].head(5)
rawdata.groupby('regionidcity')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

regionidcity
0          62847
3491        1076
3980           6
4406       21331
5465       13497
5534       49074
6021       14772
6285          19
6395        7771
6822         781
8384       16357
9840        7687
10241      13506
10389       8435
10608      16676
10723      20241
10734       6520
10774      15674
10815        110
11626      14965
12292      23038
12447     670951
12520       7471
12773      31386
13091       7210
13150      41998
13232        719
13311        183
13693      20590
13716       3825
           ...
53655       4998
54053      14554
54212      11926
54299       4427
54311      54282
54352       5295
54722      35623
54970       2130
55753       4395
56780       1989
113412      1783
113576      3516
114828      2402
114834       798
116042      2625
118217      3186
118225     11564
118694      4199
118875      1815
118878      6333
118880       402
118895      4420
118914      4852
118994      4118
272578      2291
396053      7993
396054     24601
396550      3677
396551      5643
396556      5412
Name: parcelid, dtype: int64

In [45]:
# regionidzip

rawdata.regionidzip.fillna(0, inplace=True)
rawdata.regionidzip=rawdata.regionidzip.astype(int)
rawdata["regionidzip"].head(5)
rawdata.groupby('regionidzip')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

regionidzip
0         13980
95982      7158
95983      7479
95984      9049
95985      5460
95986      2096
95987      3140
95988      2467
95989      5646
95991       617
95992     10122
95993      2514
95994       895
95995       414
95996      2687
95997      8446
95998       532
95999      6684
96000      8352
96001      2235
96002       226
96003      8671
96004      4641
96005      8811
96006      8185
96007      8707
96008      5943
96009      1406
96010      2178
96012      4890
          ...
97099      7258
97101      9520
97104     13306
97106     10221
97107      9046
97108       397
97109      5338
97111        10
97113      6369
97116     17164
97118     20612
97119       658
97164         8
97177        19
97185         2
97298      2609
97316      1125
97317      9075
97318     19862
97319     20310
97323      3795
97324       649
97328     17304
97329     16530
97330     10132
97331       699
97336         4
97339        36
97344      2132
399675      431
Name: parcelid, dtype: int64

In [46]:
# roomcnt

## sum of rooms (((((check)))))

rawdata.roomcnt.fillna(0, inplace=True)
rawdata.roomcnt=rawdata.roomcnt.astype(int)
rawdata["roomcnt"].head(5)
rawdata.groupby('roomcnt')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

roomcnt
0     2320450
1          77
2         751
3        6289
4       42324
5       99587
6      178367
7      156400
8      120233
9       45242
10      10862
11       3021
12       1097
13        313
14        156
15         67
16         35
17          9
18         22
19          6
20          3
21          4
22          1
24          1
30         14
31          1
40          1
42          1
45          1
52          1
56          1
67          1
77          1
84          1
86          1
96          1
Name: parcelid, dtype: int64

In [47]:
# # typeconstructiontypeid
rawdata.typeconstructiontypeid.fillna(14, inplace=True)
rawdata.typeconstructiontypeid=rawdata.typeconstructiontypeid.astype(int)
rawdata["typeconstructiontypeid"].head(5)
rawdata.groupby('typeconstructiontypeid')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

typeconstructiontypeid
4          59
6        6671
10          3
11          1
13         14
14    2978594
Name: parcelid, dtype: int64

In [48]:
# unitcnt
rawdata.unitcnt.fillna(0, inplace=True)
rawdata.unitcnt=rawdata.unitcnt.astype(int)
# rawdata["unitcnt"].head(5)
rawdata.groupby('unitcnt')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

unitcnt
0      1007770
1      1780122
2       115658
3        39832
4        39880
5          588
6          363
7          167
8          178
9           91
10          97
11          47
12          52
13          35
14          32
15          17
16          35
17          12
18          18
19           9
20          20
21           7
22          12
23           8
24          28
25           6
26           8
27          11
28           8
29           4
        ...
224          1
232          1
237          2
238          2
246          1
252          1
256          1
279          1
303          1
332          1
376          1
383          1
386          1
401          1
421          1
464          1
502          1
524          1
583          1
614          1
623          2
679          1
685          1
693          1
708          1
865          1
883          1
888          1
951          1
997          1
Name: parcelid, dtype: int64

In [49]:
# yardbuildingsqft17

rawdata.yardbuildingsqft17.fillna(0, inplace=True)
rawdata.yardbuildingsqft17=rawdata.yardbuildingsqft17.astype(int)
rawdata["yardbuildingsqft17"].head(5)
# rawdata.groupby('yardbuildingsqft17')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

0    0
1    0
2    0
3    0
4    0
Name: yardbuildingsqft17, dtype: int32

In [50]:
# yardbuildingsqft26

rawdata.yardbuildingsqft26.fillna(0, inplace=True)
rawdata.yardbuildingsqft26=rawdata.yardbuildingsqft26.astype(int)
rawdata["yardbuildingsqft26"].head(5)
rawdata.groupby('yardbuildingsqft26')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

yardbuildingsqft26
0       2982695
10            2
11            1
12            5
13            2
14            3
15            5
16            4
17            3
18            5
19            2
20            4
21            1
22            1
23            3
24            6
25           29
26            4
27            4
28            9
29            2
30           27
31            2
32           11
33           23
34            1
35            5
36            9
37           30
38            2
         ...
1600          1
1620          1
1652          1
1710          1
1727          1
1728          1
1760          1
1800          4
1879          1
1920          1
2000          3
2007          1
2015          1
2040          1
2043          1
2400          1
2436          1
2500          1
2520          1
2531          1
2616          1
2753          1
2800          1
3000          2
3035          1
3348          1
3668          1
4000          1
4144          1
6141          1
Name: parcelid, dtype: int64

In [51]:
# yearbuilt

rawdata.yearbuilt.fillna(0, inplace=True)
rawdata.yearbuilt=rawdata.yearbuilt.astype(int)
rawdata["yearbuilt"].head(5)
rawdata.groupby('yearbuilt')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

yearbuilt
0       59931
1801        3
1805        1
1806        2
1807        1
1808        2
1810        1
1812        5
1815        2
1819        2
1821        1
1823        1
1824        1
1825        1
1827        1
1828        1
1829        1
1831        1
1833        1
1834        1
1840        1
1853        1
1855        2
1859        2
1862        2
1865        2
1870        5
1874        2
1875       10
1876        2
        ...
1986    38551
1987    44852
1988    33744
1989    52522
1990    41202
1991    20167
1992    18015
1993    15210
1994    18762
1995    16527
1996    16937
1997    18032
1998    19338
1999    21654
2000    20519
2001    22122
2002    19349
2003    22690
2004    22005
2005    25811
2006    22636
2007    20087
2008    11704
2009     8554
2010     7439
2011     5604
2012     6594
2013     8165
2014     5693
2015      264
Name: parcelid, dtype: int64

In [52]:
# numberofstories

rawdata.numberofstories.fillna(0, inplace=True)
rawdata.numberofstories=rawdata.numberofstories.astype(int)
rawdata["numberofstories"].head(5)
rawdata.groupby('numberofstories')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

numberofstories
0     2303243
1      424205
2      242135
3       15679
4          58
5          11
6           4
7           2
8           1
14          1
17          1
20          1
41          1
Name: parcelid, dtype: int64

In [53]:
# structuretaxvaluedollarcnt

rawdata.structuretaxvaluedollarcnt.fillna(0, inplace=True)
rawdata.structuretaxvaluedollarcnt=rawdata.structuretaxvaluedollarcnt.astype(int)
rawdata["structuretaxvaluedollarcnt"].head(5)
rawdata.groupby('structuretaxvaluedollarcnt')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

structuretaxvaluedollarcnt
0            54984
1               17
2                1
4                2
5               22
7                1
8                2
9              318
10              25
29               1
30               1
32               1
37               1
39               4
40               4
44               1
50               2
51               1
56               1
67               2
75               1
76               1
77               1
79               1
83               2
85               1
94               1
96               1
97               2
100             72
             ...
47221721         1
47593000         1
49090177         1
50093020         1
50453441         1
51366931         1
54300000         1
54314613         1
54324858         1
56251127         1
58372349         1
58754358         1
60685818         1
61835256         1
62706175         1
64066750         1
64237000         1
65407469         1
73061000         1
74000000         1
75398645         1
75501450         1
76391142         1
79480190         2
92906760         1
109192169        1
121518830        1
139293248        1
218994805        1
251486000        1
Name: parcelid, dtype: int64

In [54]:
# landtaxvaluedollarcnt

rawdata.landtaxvaluedollarcnt.fillna(0, inplace=True)
rawdata.landtaxvaluedollarcnt=rawdata.landtaxvaluedollarcnt.astype(int)
rawdata["landtaxvaluedollarcnt"].head(5)
# rawdata.groupby('landtaxvaluedollarcnt')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

0    237416
1    239071
2     57912
3     73362
4    264977
Name: landtaxvaluedollarcnt, dtype: int32

In [55]:
# taxamount


rawdata.taxamount.fillna(0, inplace=True)
rawdata.taxamount=rawdata.taxamount.astype(int)
rawdata["taxamount"].head(5)
rawdata.groupby('taxamount')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

taxamount
0          31250
1              2
2              7
5            103
6              5
8              5
9              2
10             9
11             7
12             5
13            30
14            10
15            10
16            10
17             9
18             9
19             5
20            91
21            86
22           115
23            83
24            93
25            74
26           106
27            93
28            81
29            69
30            75
31            90
32            89
           ...
841059         1
878618         1
893912         1
896250         1
904933         1
919072         1
980661         1
994030         1
1030259        1
1032955        1
1052070        1
1057779        1
1078101        1
1195295        1
1268174        1
1310824        1
1337755        1
1348986        1
1390487        1
1515447        1
1537150        1
1548030        1
1757913        1
1764437        1
1783886        1
1840935        1
2295498        1
2772707        1
3399589        1
3458861        1
Name: parcelid, dtype: int64

In [56]:
# poolsizesum


rawdata.poolsizesum.fillna(0, inplace=True)
rawdata.poolsizesum=rawdata.poolsizesum.astype(int)
# rawdata["poolsizesum"].head(5)
rawdata.groupby('poolsizesum')['parcelid'].count()

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

poolsizesum
0        2957379
19             1
20             4
24             1
28            16
30             1
31             1
32             1
35             1
36             5
38            12
39             1
40             3
42             2
48             4
49             9
50            22
54             1
55             1
56             1
60             1
63             2
64             6
65             1
66             2
70             5
72             2
75             2
78             1
80             2
          ...
1500           6
1537           1
1550           1
1558           1
1566           1
1568           2
1576           1
1584           1
1620           1
1625           1
1638           1
1700           1
1716           1
1725           1
1749           1
1750           1
1800           6
1920           1
2050           1
2106           1
2176           1
2576           1
3200           1
3315           1
3510           1
3600           1
3848           1
4000           1
6000           1
17410          1
Name: parcelid, dtype: int64

In [57]:
# taxdelinquencyyear

rawdata.taxdelinquencyyear.fillna(0, inplace=True)
rawdata.taxdelinquencyyear=rawdata.taxdelinquencyyear.astype(int)

rawdata["taxdelinquencyyear"].head(5)
rawdata.groupby('taxdelinquencyyear')['parcelid'].count()

rawdata.rename(index=str, columns={"taxdelinquencyyear": "taxduetill2015", "poolcnt": "poolpresent"})

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bedroomcnt,buildingclasstypeid,decktypeid,finishedsquarefeet6,typeconstructiontypeid,finishedsquarefeet12,...,yardbuildingsqft26,yearbuilt,numberofstories,structuretaxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxduetill2015,transactiondate,logerror
0,11016594,1,19,0,3,5,False,NaN,14,1684.0,...,0,1959,0,122754,2015.0,237416,6735,0,2016-01-01,0.0276
1,14366692,5,19,0,4,5,False,NaN,14,2263.0,...,0,2014,0,346458,2015.0,239071,10153,0,2016-01-01,-0.1684
2,12098116,1,19,0,2,5,False,NaN,14,2217.0,...,0,1940,0,61994,2015.0,57912,11484,0,2016-01-01,-0.0040
3,12643413,1,19,0,2,5,False,NaN,14,839.0,...,0,1987,0,171518,2015.0,73362,3048,0,2016-01-02,0.0218
4,14432541,5,19,0,4,5,False,NaN,14,2283.0,...,0,1981,2,169574,2015.0,264977,5488,0,2016-01-02,-0.0050
5,11509835,1,19,0,4,5,False,NaN,14,3067.0,...,0,1982,0,880650,2015.0,1567301,27126,0,2016-01-02,-0.2705
6,12286022,5,19,0,2,5,False,NaN,14,1297.0,...,0,1939,0,64549,2015.0,46972,2304,0,2016-01-02,0.0440
7,17177301,5,19,0,3,5,False,NaN,14,1763.0,...,0,1994,2,107000,2015.0,199000,3745,0,2016-01-02,0.1638
8,14739064,5,19,0,2,5,False,NaN,14,796.0,...,0,1984,0,66834,2015.0,143230,2172,0,2016-01-02,-0.0030
9,14677559,5,19,0,2,5,False,NaN,14,1260.0,...,0,1977,1,109977,2015.0,80983,1940,0,2016-01-03,0.0843
10,10854446,5,19,0,2,5,False,NaN,14,1417.0,...,0,1954,0,55396,2015.0,50558,1443,0,2016-01-03,0.3825
11,11672170,1,19,0,5,5,False,NaN,14,3080.0,...,0,1995,0,559040,2015.0,531087,13428,0,2016-01-03,-0.0161
12,10949761,5,19,0,3,5,False,NaN,14,1484.0,...,0,1944,0,29551,2015.0,40568,832,0,2016-01-03,0.0344
13,14665244,5,19,0,2,5,False,NaN,14,1249.0,...,0,2005,0,398747,2015.0,202253,6876,0,2016-01-03,0.0816
14,14148540,5,19,0,2,5,False,NaN,14,1367.0,...,0,1955,1,78565,2015.0,176252,3192,0,2016-01-03,-0.0450
15,14057104,5,19,0,3,5,False,NaN,14,1302.0,...,0,1964,1,89850,2015.0,255173,4036,0,2016-01-03,0.0020
16,17296797,5,19,0,3,5,False,NaN,14,1558.0,...,0,1979,2,168000,2015.0,312000,6383,0,2016-01-03,0.0440
17,12524288,5,19,0,1,5,False,NaN,14,597.0,...,0,1970,0,56233,2015.0,14083,913,0,2016-01-03,-0.0419
18,14091502,5,19,0,3,5,False,NaN,14,1321.0,...,0,1957,1,75119,2015.0,178019,3329,0,2016-01-03,-0.0020
19,10815909,1,19,0,3,5,False,NaN,14,1727.0,...,0,1950,0,108985,2015.0,307294,5194,0,2016-01-03,0.0100
20,12453853,5,19,0,2,5,False,NaN,14,840.0,...,0,1927,0,122952,2015.0,137297,3211,0,2016-01-03,-0.0387
21,14253461,13,19,0,2,5,False,NaN,14,1476.0,...,0,1976,1,109293,2015.0,149667,3090,0,2016-01-03,0.0218
22,14001034,5,19,0,4,5,False,NaN,14,1430.0,...,0,1962,1,92991,2015.0,119086,3020,0,2016-01-03,0.0149
23,11458863,5,19,0,3,5,False,NaN,14,3749.0,...,0,1952,0,319449,2015.0,874830,14747,0,2016-01-03,0.1151
24,13957980,5,19,0,2,5,False,NaN,14,1213.0,...,0,1998,0,157171,2015.0,178619,4269,0,2016-01-03,-0.1696
25,12752047,1,19,0,3,5,False,NaN,14,1875.0,...,0,1955,0,154186,2015.0,85270,3249,0,2016-01-03,-0.0440
26,11188425,1,19,0,2,5,False,NaN,14,1302.0,...,0,1986,0,80600,2015.0,93400,3895,0,2016-01-03,-0.0747
27,14646051,5,19,0,2,5,False,NaN,6,1858.0,...,0,1973,2,145291,2015.0,679709,9553,0,2016-01-03,0.0080
28,10805063,1,19,0,2,5,False,NaN,14,1045.0,...,0,1966,0,135218,2015.0,115027,3117,0,2016-01-03,0.0010
29,12524725,5,19,0,2,5,False,NaN,14,1329.0,...,0,1983,0,117504,2015.0,97593,2648,0,2016-01-03,-0.0534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2985312,167636430,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985313,167690630,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985314,167636630,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985315,10834030,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985316,167637430,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985317,167637630,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985318,167637230,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985319,11645030,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985320,167689030,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985321,167638630,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985322,167638430,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985323,14342030,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985324,167638230,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985325,167637830,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985326,167639230,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985327,14341030,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985328,14341630,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985329,14367630,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985330,167638830,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985331,12572230,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985332,14460030,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985333,14284830,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985334,14285230,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985335,14455630,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985336,11117630,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985337,168176230,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985338,14273630,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985339,168040630,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985340,168040830,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN
2985341,168040430,5,19,0,0,5,False,NaN,14,NaN,...,0,0,0,0,NaN,0,0,0,NaT,NaN

In [58]:
# # To rename multiple columns 
# df.rename(index=str, columns={"A": "a", "C": "c"})
# # to fill values of one column from another and deleting the other column 
# df.Temp_Rating.fillna(df.Farheit, inplace=True)
# del df['Farheit']
# # to count the nnumber on not null values in a column 
# df[['a', 'b', 'c', 'd', 'e']].apply(lambda x: sum(x.notnull()), axis=1)

In [59]:
rawdata.shape

(2985342, 47)

In [60]:
# del rawdata['finishedfloor1squarefeet']
del rawdata['finishedsquarefeet6']
del rawdata['finishedsquarefeet12']
del rawdata[ 'finishedsquarefeet13']
del rawdata['finishedsquarefeet15']
print (rawdata.shape)
print (rawdata.dtypes)

(2985342, 43)
parcelid                                 int64
airconditioningtypeid                    int32
architecturalstyletypeid                 int32
basementsqft                             int32
bedroomcnt                               int32
buildingclasstypeid                      int32
decktypeid                                bool
typeconstructiontypeid                   int32
finishedsquarefeet50                     int32
calculatedfinishedsquarefeet             int32
fips                                     int32
fireplacecnt                             int32
fullbathcnt                              int32
garagecarcnt                             int32
garagetotalsqft                        float64
hashottuborspa                          object
heatingorsystemtypeid                    int32
latitude                               float64
longitude                              float64
lotsizesquarefeet                      float64
poolcnt                                   bool
poolsizesum                              int32
propertycountylandusecode               object
propertylandusetypeid                    int32
unitcnt                                  int32
propertyzoningdesc                      object
rawcensustractandblock                 float64
regionidcity                             int32
regionidcounty                           int32
regionidzip                              int32
roomcnt                                  int32
threequarterbathnbr                      int32
yardbuildingsqft17                       int32
yardbuildingsqft26                       int32
yearbuilt                                int32
numberofstories                          int32
structuretaxvaluedollarcnt               int32
assessmentyear                         float64
landtaxvaluedollarcnt                    int32
taxamount                                int32
taxdelinquencyyear                       int32
transactiondate                 datetime64[ns]
logerror                               float64
dtype: object

In [61]:
rawdata.lotsizesquarefeet.fillna(0, inplace=True)
# rawdata.lotsizesquarefeet=rawdata.lotsizesquarefeet
# rawdataloc["lotsizesquarefeet"].head(5)
print(rawdata.groupby('lotsizesquarefeet')['parcelid'].count())

C:\Users\sneha\Anaconda3\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

lotsizesquarefeet
0.0            276113
100.0               3
103.0               1
104.0               1
105.0               1
107.0               1
108.0               1
110.0               1
111.0               1
112.0               1
113.0               2
114.0               1
118.0               1
120.0               1
121.0               1
122.0               1
124.0               1
125.0               3
129.0               3
131.0               2
134.0               1
135.0               2
136.0               2
137.0               1
144.0               2
146.0               2
147.0               1
149.0               2
150.0               1
152.0               3
                ...
6821495.0           1
6845666.0           1
6855576.0           1
6914079.0           1
6924655.0           1
6929850.0           1
6947170.0           1
6952027.0           1
6969600.0           1
6971010.0         154
7002895.0           1
7024144.0           1
7034153.0           1
7159899.0           1
7358591.0           1
7410415.0           1
7925178.0           1
7979756.0           1
10201752.0          1
10497786.0          1
10749024.0          1
14043439.0          1
14995125.0          1
15585629.0          1
20313244.0          1
26166748.0          1
28430904.0          1
256481280.0         1
321516352.0         1
328263808.0         1
Name: parcelid, dtype: int64

In [67]:

# rawdata.latitude.fillna(0, inplace=True)
# rawdata.latitude=rawdata.latitude
# # rawdataloc["latitude"].head(5)
# print(rawdata.groupby('latitude')['parcelid'].count())


# rawdata.longitude.fillna(0, inplace=True)
# # rawdata["longitude"].head(5)
# # rawdata['count']=rawdata.groupby('longitude')['parcelid'].count()
# rawdata.groupby('count')['longitude'].count()



# rawdata = rawdata[np.isfinite(rawdata['EPS'])]
print (rawdata.shape)


rawdata = rawdata[np.isfinite(rawdata['latitude'])]
rawdata = rawdata[np.isfinite(rawdata['longitude'])]
print (rawdata.shape)

(2985342, 43)
(2973905, 43)

In [68]:
rawdata.loc[:, rawdata.isnull().any()]

,propertycountylandusecode,propertyzoningdesc,assessmentyear,transactiondate,logerror
0,0100,LARS,2015.0,2016-01-01,0.0276
1,1,NaN,2015.0,2016-01-01,-0.1684
2,0100,PSR6,2015.0,2016-01-01,-0.0040
3,010C,LAR3,2015.0,2016-01-02,0.0218
4,122,NaN,2015.0,2016-01-02,-0.0050
5,0100,HBR3YY,2015.0,2016-01-02,-0.2705
6,0100,CORH*,2015.0,2016-01-02,0.0440
7,1129,NaN,2015.0,2016-01-02,0.1638
8,34,NaN,2015.0,2016-01-02,-0.0030
9,34,NaN,2015.0,2016-01-03,0.0843
10,0100,LARE9,2015.0,2016-01-03,0.3825
11,0100,LAR1,2015.0,2016-01-03,-0.0161
12,0100,BUR1*,2015.0,2016-01-03,0.0344
13,1,NaN,2015.0,2016-01-03,0.0816
14,122,NaN,2015.0,2016-01-03,-0.0450
15,122,NaN,2015.0,2016-01-03,0.0020
16,1128,NaN,2015.0,2016-01-03,0.0440
17,010E,LBR4R,2015.0,2016-01-03,-0.0419
18,122,NaN,2015.0,2016-01-03,-0.0020
19,0100,LAR1,2015.0,2016-01-03,0.0100
20,0100,LBR1N,2015.0,2016-01-03,-0.0387
21,122,NaN,2015.0,2016-01-03,0.0218
22,122,NaN,2015.0,2016-01-03,0.0149
23,0104,LAR1,2015.0,2016-01-03,0.1151
24,122,NaN,2015.0,2016-01-03,-0.1696
25,0100,LMR1*,2015.0,2016-01-03,-0.0440
26,0100,PDRPD6.6U*,2015.0,2016-01-03,-0.0747
27,34,NaN,2015.0,2016-01-03,0.0080
28,010E,LAR3,2015.0,2016-01-03,0.0010
29,010C,LBR4N,2015.0,2016-01-03,-0.0534
...,...,...,...,...,...
2973875,1,NaN,2015.0,NaT,NaN
2973876,1,NaN,2015.0,NaT,NaN
2973877,1,NaN,2015.0,NaT,NaN
2973878,1,NaN,2015.0,NaT,NaN
2973879,1,NaN,2015.0,NaT,NaN
2973880,1,NaN,2015.0,NaT,NaN
2973881,1,NaN,2015.0,NaT,NaN
2973882,1110,NaN,2015.0,NaT,NaN
2973883,01DC,LARD5,2015.0,NaT,NaN
2973884,010C,AZR1,2015.0,NaT,NaN
2973885,010C,HBR3YY,2015.0,NaT,NaN
2973886,012C,LAC4,2015.0,NaT,NaN
2973887,1720,LAR3,2015.0,NaT,NaN
2973888,122,NaN,2015.0,NaT,NaN
2973889,0100,MNRH,2015.0,NaT,NaN
2973890,1,NaN,2015.0,NaT,NaN
2973891,012C,CLRS10000*,2015.0,NaT,NaN
2973892,1,NaN,2015.0,NaT,NaN
2973893,1,NaN,2015.0,NaT,NaN
2973894,1,NaN,2015.0,NaT,NaN
2973895,1,NaN,2015.0,NaT,NaN
2973896,1,NaN,2015.0,NaT,NaN
2973897,1,NaN,2015.0,NaT,NaN
2973898,1,NaN,2015.0,NaT,NaN
2973899,0200,GAR3,2015.0,NaT,NaN
2973900,0700,LCA25*,2015.0,NaT,NaN
2973901,010C,TCM2*,2015.0,NaT,NaN
2973902,010C,DOC2*,2015.0,NaT,NaN
2973903,010E,LAM3,2015.0,NaT,NaN
2973904,0200,LAPF,2015.0,NaT,NaN

In [69]:
# rawdataloc=rawdata[["latitude", "longitude", "parcelid"]]

In [70]:
rawdata.shape

(2973905, 43)

In [71]:
# rawdata.latitude=rawdata.latitude.astype('S32')
# rawdata.longitude=rawdata.longitude.astype('S32')
# rawdata.propertycountylandusecode=rawdata.propertycountylandusecode.astype('S32')
# rawdata.propertyzoningdesc=rawdata.propertyzoningdesc.astype('S32')
# rawdata.rawcensustractandblock=rawdata.rawcensustractandblock.astype('S32')
# rawdata.assessmentyear=rawdata.assessmentyear.astype('S32')


# rowsfilteredrawdata = rawdata[((rawdata.parcelid!= 0)) |  ((rawdata.airconditioningtypeid!= 5) & (rawdata.architecturalstyletypeid!= 19) & (rawdata.basementsqft!=0) & 
#                  (rawdata.bedroomcnt!= 0) & (rawdata.buildingclasstypeid!= 5) & 
#                  (rawdata.finishedsquarefeet50!= 0) & (rawdata.calculatedfinishedsquarefeet!=0) & 
#                  (rawdata.fips!= 0) & (rawdata.fireplacecnt!= 0) & (rawdata.fullbathcnt!= 0) & (rawdata.garagecarcnt!= 0) & (rawdata.garagetotalsqft!= 0)  & 
#                  (rawdata.heatingorsystemtypeid!= 13)  & (rawdata.lotsizesquarefeet!= 0) & (rawdata.poolcnt!= 0)  & (rawdata.unitcnt!=0) & 
#                  (rawdata.propertyzoningdesc!= 0) &  (rawdata.regionidcity!= 0) & (rawdata.regionidcounty!=0) & 
#                  (rawdata.regionidzip!= 0) & (rawdata.roomcnt!= 0) & (rawdata.threequarterbathnbr!=0) & 
#                  (rawdata.yardbuildingsqft17!= 0) & (rawdata.yardbuildingsqft26!= 0) & (rawdata.yearbuilt!=0) & 
#                  (rawdata.numberofstories!= 0) & (rawdata.structuretaxvaluedollarcnt!=0) & 
#                  (rawdata.landtaxvaluedollarcnt!= 0) & (rawdata.taxamount!= 0) & (rawdata.taxdelinquencyyear != 0))]



# print (rowsfilteredrawdata.dtypes           )

In [72]:
rawdata.shape

(2973905, 43)

In [22]:
import boto3
from boto.s3.connection import S3Connection
import os
import json
import boto3
import boto.s3
#Loading 2 Json Config files

with open('config.json') as data_file:    
    data = json.load(data_file)
 
# secret keys 

AWSAccess1=data["AWSAccess"]
AWSSecret1=data["AWSSecret"]

#Connection variables




c = boto.connect_s3(AWSAccess1, AWSSecret1)
conn = S3Connection(AWSAccess1, AWSSecret1)    

bucket = c.get_bucket('team8njassignment2')
b = c.get_bucket(bucket, validate=False)
fname="wrangleddata.csv"
print(type(bucket))


# upload the current date data

k=Key(bucket)
k.key=fname

possiblekey=bucket.get_key(fname)


count =0
for key in bucket.list():
    lists3files=key.name.encode('utf-8')
    print (lists3files)
    count=count+1
    print ('Number of files in S3 bucket ', count)


    k = Key(b)
    k.Key = fname
    k.content_type = r.headers['content-type']
    k.set_contents_from_string(r.content)
    print('successfully uploaded to s3')



if   fileexists==0:

    k = Key(b)
    k.key = "wrangleddata.csv"
    k.content_type = r.headers['content-type']
    k.set_contents_from_string(r.content)

<class 'boto.s3.bucket.Bucket'>

NameError: name 'Key' is not defined

In [74]:
rawdata.to_csv('wrangleddata.csv', index=False)

print ("successfully saved as a CSV file")

successfully saved as a CSV file

In [101]:
# df = df[df.line_race != 0]
# df1 = df[(df.a != -1) & (df.b != -1)
# df2 = df[(df.a != -1) | (df.b != -1)]